@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body{
    background-color: #ffffff;
    opacity: 1;
    transition: opacity 0.5s ease;
}

body .fade-out{
    opacity: 0;
}

.header{
    margin: 150px 0px 100px 0px;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    max-width: 100%;
}

.header h1{
    margin: -60px 0px;
    font-size: 80px;
    color: #ffae00;
    font-weight: 800;
    font-style: italic;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.header h6{
    margin: 30px 0px;
    color: #1f1f1f;
    font-size: 15px;
}

.content{
    text-align: center;
    display: block;
}

.inputs label{
    font-size: 12px;
    font-weight: bold;
    color: #1f1f1f;
}

.inputs input[type="text"], .inputs input[type="password"]{
    border-radius: 25px;
    border: solid 1px #1f1f1f;
    padding: 8px;
    text-align: center;
    width: 250px;
}

.inputs button{
    border-radius: 25px;
    border: solid 1px #1f1f1f;
    padding: 8px;
    text-align: center;
    background-color: #ffae00;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    width: 250px;
    font-size: 18px;
}

.inputs button:hover{
    background-color: #f3e416;
    color: #573b01;
}

.toregistration{
    margin: 50px;
    font-size: 18px;
    width: 300px;
    position: absolute;
    bottom: 0;
}

.toregistration button{
    text-decoration: none;
    color: #573b01;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: center;
    border: 2px solid #573b01;
    border-radius: 15px;
    padding: 10px 10px 10px 0px;
}

.toregistration i{
    color: #573b01;
    margin: 0px 8px;
    font-size: 20px;
}

.toregistration button:hover, .toregistration button:hover i{
    background-color: #573b01;
    color: #ffffff;
}